@page "/about"

@inject IJSRuntime JS
@inject IUserDataService UserDataService
@inject NavigationManager Navigation

@using TFACGUI.BlazorWebApp.Services

<PageTitle>
    TFACGUI - About
</PageTitle>

<h1>
    About
</h1>

@code {

    // TODO

}