@page "/"

@inject IJSRuntime JS
@using ReactorBlazorQRCodeScanner

<PageTitle>TFACGUI</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary"
        @onclick="OnClickScanTotpSecret">
    Scan QR
</button>

<br />
<br />

<QRCodeScanner />

@code {

    private QRCodeScannerJsInterop? qrCodeScannerJsInterop;

    protected override Task OnInitializedAsync()
    {
        qrCodeScannerJsInterop = new QRCodeScannerJsInterop(JS);

        return Task.CompletedTask;
    }

    private async Task OnClickScanTotpSecret()
    {
        if (qrCodeScannerJsInterop is null)
        {
            return;
        }
        
        await qrCodeScannerJsInterop.Init(OnQrCodeScan);
    }

    private void OnQrCodeScan(string code)
    {
#if DEBUG
        Console.WriteLine($"Scanned QR-Code: \"{code}\"");
#endif

        // TODO: show dialog here and handle otp auth url!
    }
}