@page "/"

@inject IJSRuntime JS
@inject IUserDataService UserDataService

@using ReactorBlazorQRCodeScanner
@using TFACGUI.BlazorWebApp.Services

<PageTitle>
    TFACGUI
</PageTitle>

<h1>
    TFACGUI
</h1>

<div class="btn-flex">

    <button class="btn btn-primary stretch-when-narrow"
            @onclick="OnClickScanTotpSecret">
        Scan QR
    </button>

    <button class="btn btn-primary stretch-when-narrow"
            @onclick="OnClickEnterManually">
        Enter manually
    </button>

</div>

<br />
<br />

<QRCodeScanner LoadingMessage=""
               OutputMessage="No QR code detected"
               Width="512" />

@code {

    private QRCodeScannerJsInterop? qrCodeScannerJsInterop;

    protected override Task OnInitializedAsync()
    {
        qrCodeScannerJsInterop = new QRCodeScannerJsInterop(JS);

        return Task.CompletedTask;
    }

    private async Task OnClickScanTotpSecret()
    {
        if (qrCodeScannerJsInterop is null)
        {
            return;
        }

        await qrCodeScannerJsInterop.Init(OnQrCodeScan);
    }

    private void OnQrCodeScan(string qrCodeContent)
    {
#if DEBUG
        Console.WriteLine($"Scanned QR-Code: \"{qrCodeContent}\"");
#endif

        // TODO: show dialog here and handle otp auth url!

        qrCodeScannerJsInterop?.StopRecording().GetAwaiter().GetResult();
    }

    private void OnClickEnterManually()
    {
        // TODO: impl.
    }

}