@page "/userdata"

@inject IJSRuntime JS
@using GlitchedPolygons.Utilities.RandomStringGenerator

<PageTitle>TFACGUI Import / export data</PageTitle>

<h1>Import / export</h1>

@code {

    private string GenerateRandomEncryptionKey()
    {
        return RandomStringGenerator.GenerateRandomString
            (
                Constants.KEYGEN_LEGAL_CHARS,
                16
            )
            .TrimStart
            (
                ['-', '_', '@', ',', '.', '+', '*', '#']
            )
            .TrimEnd
            (
                ['-', '_', '@', ',', '.', '+', '*', '#']
            );
    }

}